<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.counterpart.mapper.CounterpartInfoMapper">
    
    <resultMap type="CounterpartInfo" id="CounterpartInfoResult">
        <result property="id"    column="id"    />
        <result property="counterpartName"    column="counterpart_name"    />
        <result property="employeeId"    column="employee_id"    />
        <result property="bankName"    column="bank_name"    />
        <result property="accountName"    column="account_name"    />
        <result property="bankAccount"    column="bank_account"    />
        <result property="taxId"    column="tax_id"    />
        <result property="address"    column="address"    />
        <result property="phone"    column="phone"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectCounterpartInfoVo">
        select id, counterpart_name, employee_id, bank_name, account_name, bank_account, tax_id, address, phone, create_time from counterpart_info
    </sql>

    <select id="selectCounterpartInfoList" parameterType="CounterpartInfo" resultMap="CounterpartInfoResult">
        <include refid="selectCounterpartInfoVo"/>
        <where>  
            <if test="counterpartName != null  and counterpartName != ''"> and counterpart_name like concat('%', #{counterpartName}, '%')</if>
            <if test="employeeId != null  and employeeId != ''"> and employee_id = #{employeeId}</if>
            <if test="bankName != null  and bankName != ''"> and bank_name like concat('%', #{bankName}, '%')</if>
            <if test="accountName != null  and accountName != ''"> and account_name like concat('%', #{accountName}, '%')</if>
            <if test="bankAccount != null  and bankAccount != ''"> and bank_account = #{bankAccount}</if>
            <if test="taxId != null  and taxId != ''"> and tax_id = #{taxId}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
        </where>
    </select>
    
    <select id="selectCounterpartInfoById" parameterType="Long" resultMap="CounterpartInfoResult">
        <include refid="selectCounterpartInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertCounterpartInfo" parameterType="CounterpartInfo" useGeneratedKeys="true" keyProperty="id">
        insert into counterpart_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="counterpartName != null and counterpartName != ''">counterpart_name,</if>
            <if test="employeeId != null">employee_id,</if>
            <if test="bankName != null">bank_name,</if>
            <if test="accountName != null">account_name,</if>
            <if test="bankAccount != null">bank_account,</if>
            <if test="taxId != null">tax_id,</if>
            <if test="address != null">address,</if>
            <if test="phone != null">phone,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="counterpartName != null and counterpartName != ''">#{counterpartName},</if>
            <if test="employeeId != null">#{employeeId},</if>
            <if test="bankName != null">#{bankName},</if>
            <if test="accountName != null">#{accountName},</if>
            <if test="bankAccount != null">#{bankAccount},</if>
            <if test="taxId != null">#{taxId},</if>
            <if test="address != null">#{address},</if>
            <if test="phone != null">#{phone},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateCounterpartInfo" parameterType="CounterpartInfo">
        update counterpart_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="counterpartName != null and counterpartName != ''">counterpart_name = #{counterpartName},</if>
            <if test="employeeId != null">employee_id = #{employeeId},</if>
            <if test="bankName != null">bank_name = #{bankName},</if>
            <if test="accountName != null">account_name = #{accountName},</if>
            <if test="bankAccount != null">bank_account = #{bankAccount},</if>
            <if test="taxId != null">tax_id = #{taxId},</if>
            <if test="address != null">address = #{address},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCounterpartInfoById" parameterType="Long">
        delete from counterpart_info where id = #{id}
    </delete>

    <delete id="deleteCounterpartInfoByIds" parameterType="String">
        delete from counterpart_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>