<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.contract.mapper.BizContractContent2Mapper">
    
    <resultMap type="BizContractContent2" id="BizContractContent2Result">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="owner"    column="owner"    />
        <result property="content"    column="content"    />
        <result property="contractNumber"    column="contract_number"    />
        <result property="signStatus"    column="sign_status"    />
        <result property="performanceStatus"    column="performance_status"    />
        <result property="amountType"    column="amount_type"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="signDate"    column="sign_date"    />
        <result property="termType"    column="term_type"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="category"    column="category"    />
        <result property="description"    column="description"    />
        <result property="archiver"    column="archiver"    />
        <result property="cooperators"    column="cooperators"    />
        <result property="department"    column="department"    />
        <result property="handler"    column="handler"    />
        <result property="date"    column="date"    />
        <result property="fileName"    column="file_name"    />
        <result property="opponentUnit"    column="opponent_unit"    />
        <result property="fileCount"    column="file_count"    />
        <result property="fileCategory"    column="file_category"    />
        <result property="sealCategory"    column="seal_category"    />
        <result property="sealSubject"    column="seal_subject"    />
        <result property="remark"    column="remark"    />
        <result property="files"    column="files"    />
        <result property="signMethod"    column="sign_method"    />
        <result property="sealType"    column="seal_type"    />
        <result property="sealName"    column="seal_name"    />
        <result property="sealOwner"    column="seal_owner"    />
        <result property="guaranteeContractNo"    column="guarantee_contract_no"    />
        <result property="guaranteedUnit"    column="guaranteed_unit"    />
        <result property="dateRange"    column="date_range"    />
        <result property="bank"    column="bank"    />
        <result property="guaranteeAmount"    column="guarantee_amount"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectBizContractContent2Vo">
        select id, name, owner, content, contract_number, sign_status, performance_status, amount_type, total_amount, sign_date, term_type, start_date, end_date, category, description, archiver, cooperators, department, handler, date, file_name, opponent_unit, file_count, file_category, seal_category, seal_subject, remark, files, sign_method, seal_type, seal_name, seal_owner, guarantee_contract_no, guaranteed_unit, date_range, bank, guarantee_amount, create_time, update_time, del_flag from biz_contract_content2
    </sql>

    <select id="selectBizContractContent2List" parameterType="BizContractContent2" resultMap="BizContractContent2Result">
        <include refid="selectBizContractContent2Vo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="owner != null  and owner != ''"> and owner = #{owner}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="contractNumber != null  and contractNumber != ''"> and contract_number = #{contractNumber}</if>
            <if test="signStatus != null  and signStatus != ''"> and sign_status = #{signStatus}</if>
            <if test="performanceStatus != null  and performanceStatus != ''"> and performance_status = #{performanceStatus}</if>
            <if test="amountType != null  and amountType != ''"> and amount_type = #{amountType}</if>
            <if test="totalAmount != null "> and total_amount = #{totalAmount}</if>
            <if test="signDate != null "> and sign_date = #{signDate}</if>
            <if test="termType != null  and termType != ''"> and term_type = #{termType}</if>
            <if test="startDate != null "> and start_date = #{startDate}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
            <if test="category != null  and category != ''"> and category = #{category}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="archiver != null  and archiver != ''"> and archiver = #{archiver}</if>
            <if test="cooperators != null  and cooperators != ''"> and cooperators = #{cooperators}</if>
            <if test="department != null  and department != ''"> and department = #{department}</if>
            <if test="handler != null  and handler != ''"> and handler = #{handler}</if>
            <if test="date != null "> and date = #{date}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="opponentUnit != null  and opponentUnit != ''"> and opponent_unit = #{opponentUnit}</if>
            <if test="fileCount != null "> and file_count = #{fileCount}</if>
            <if test="fileCategory != null  and fileCategory != ''"> and file_category = #{fileCategory}</if>
            <if test="sealCategory != null  and sealCategory != ''"> and seal_category = #{sealCategory}</if>
            <if test="sealSubject != null  and sealSubject != ''"> and seal_subject = #{sealSubject}</if>
            <if test="files != null  and files != ''"> and files = #{files}</if>
            <if test="signMethod != null  and signMethod != ''"> and sign_method = #{signMethod}</if>
            <if test="sealType != null  and sealType != ''"> and seal_type = #{sealType}</if>
            <if test="sealName != null  and sealName != ''"> and seal_name like concat('%', #{sealName}, '%')</if>
            <if test="sealOwner != null  and sealOwner != ''"> and seal_owner = #{sealOwner}</if>
            <if test="guaranteeContractNo != null  and guaranteeContractNo != ''"> and guarantee_contract_no = #{guaranteeContractNo}</if>
            <if test="guaranteedUnit != null  and guaranteedUnit != ''"> and guaranteed_unit = #{guaranteedUnit}</if>
            <if test="dateRange != null  and dateRange != ''"> and date_range = #{dateRange}</if>
            <if test="bank != null  and bank != ''"> and bank = #{bank}</if>
            <if test="guaranteeAmount != null "> and guarantee_amount = #{guaranteeAmount}</if>
        </where>
    </select>
    
    <select id="selectBizContractContent2ById" parameterType="Long" resultMap="BizContractContent2Result">
        <include refid="selectBizContractContent2Vo"/>
        where id = #{id}
    </select>

    <insert id="insertBizContractContent2" parameterType="BizContractContent2" useGeneratedKeys="true" keyProperty="id">
        insert into biz_contract_content2
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="owner != null">owner,</if>
            <if test="content != null">content,</if>
            <if test="contractNumber != null">contract_number,</if>
            <if test="signStatus != null">sign_status,</if>
            <if test="performanceStatus != null">performance_status,</if>
            <if test="amountType != null">amount_type,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="signDate != null">sign_date,</if>
            <if test="termType != null">term_type,</if>
            <if test="startDate != null">start_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="category != null">category,</if>
            <if test="description != null">description,</if>
            <if test="archiver != null">archiver,</if>
            <if test="cooperators != null">cooperators,</if>
            <if test="department != null">department,</if>
            <if test="handler != null">handler,</if>
            <if test="date != null">date,</if>
            <if test="fileName != null">file_name,</if>
            <if test="opponentUnit != null">opponent_unit,</if>
            <if test="fileCount != null">file_count,</if>
            <if test="fileCategory != null">file_category,</if>
            <if test="sealCategory != null">seal_category,</if>
            <if test="sealSubject != null">seal_subject,</if>
            <if test="remark != null">remark,</if>
            <if test="files != null">files,</if>
            <if test="signMethod != null">sign_method,</if>
            <if test="sealType != null">seal_type,</if>
            <if test="sealName != null">seal_name,</if>
            <if test="sealOwner != null">seal_owner,</if>
            <if test="guaranteeContractNo != null">guarantee_contract_no,</if>
            <if test="guaranteedUnit != null">guaranteed_unit,</if>
            <if test="dateRange != null">date_range,</if>
            <if test="bank != null">bank,</if>
            <if test="guaranteeAmount != null">guarantee_amount,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="owner != null">#{owner},</if>
            <if test="content != null">#{content},</if>
            <if test="contractNumber != null">#{contractNumber},</if>
            <if test="signStatus != null">#{signStatus},</if>
            <if test="performanceStatus != null">#{performanceStatus},</if>
            <if test="amountType != null">#{amountType},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="signDate != null">#{signDate},</if>
            <if test="termType != null">#{termType},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="category != null">#{category},</if>
            <if test="description != null">#{description},</if>
            <if test="archiver != null">#{archiver},</if>
            <if test="cooperators != null">#{cooperators},</if>
            <if test="department != null">#{department},</if>
            <if test="handler != null">#{handler},</if>
            <if test="date != null">#{date},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="opponentUnit != null">#{opponentUnit},</if>
            <if test="fileCount != null">#{fileCount},</if>
            <if test="fileCategory != null">#{fileCategory},</if>
            <if test="sealCategory != null">#{sealCategory},</if>
            <if test="sealSubject != null">#{sealSubject},</if>
            <if test="remark != null">#{remark},</if>
            <if test="files != null">#{files},</if>
            <if test="signMethod != null">#{signMethod},</if>
            <if test="sealType != null">#{sealType},</if>
            <if test="sealName != null">#{sealName},</if>
            <if test="sealOwner != null">#{sealOwner},</if>
            <if test="guaranteeContractNo != null">#{guaranteeContractNo},</if>
            <if test="guaranteedUnit != null">#{guaranteedUnit},</if>
            <if test="dateRange != null">#{dateRange},</if>
            <if test="bank != null">#{bank},</if>
            <if test="guaranteeAmount != null">#{guaranteeAmount},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateBizContractContent2" parameterType="BizContractContent2">
        update biz_contract_content2
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="owner != null">owner = #{owner},</if>
            <if test="content != null">content = #{content},</if>
            <if test="contractNumber != null">contract_number = #{contractNumber},</if>
            <if test="signStatus != null">sign_status = #{signStatus},</if>
            <if test="performanceStatus != null">performance_status = #{performanceStatus},</if>
            <if test="amountType != null">amount_type = #{amountType},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="signDate != null">sign_date = #{signDate},</if>
            <if test="termType != null">term_type = #{termType},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="category != null">category = #{category},</if>
            <if test="description != null">description = #{description},</if>
            <if test="archiver != null">archiver = #{archiver},</if>
            <if test="cooperators != null">cooperators = #{cooperators},</if>
            <if test="department != null">department = #{department},</if>
            <if test="handler != null">handler = #{handler},</if>
            <if test="date != null">date = #{date},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="opponentUnit != null">opponent_unit = #{opponentUnit},</if>
            <if test="fileCount != null">file_count = #{fileCount},</if>
            <if test="fileCategory != null">file_category = #{fileCategory},</if>
            <if test="sealCategory != null">seal_category = #{sealCategory},</if>
            <if test="sealSubject != null">seal_subject = #{sealSubject},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="files != null">files = #{files},</if>
            <if test="signMethod != null">sign_method = #{signMethod},</if>
            <if test="sealType != null">seal_type = #{sealType},</if>
            <if test="sealName != null">seal_name = #{sealName},</if>
            <if test="sealOwner != null">seal_owner = #{sealOwner},</if>
            <if test="guaranteeContractNo != null">guarantee_contract_no = #{guaranteeContractNo},</if>
            <if test="guaranteedUnit != null">guaranteed_unit = #{guaranteedUnit},</if>
            <if test="dateRange != null">date_range = #{dateRange},</if>
            <if test="bank != null">bank = #{bank},</if>
            <if test="guaranteeAmount != null">guarantee_amount = #{guaranteeAmount},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizContractContent2ById" parameterType="Long">
        delete from biz_contract_content2 where id = #{id}
    </delete>

    <delete id="deleteBizContractContent2ByIds" parameterType="String">
        delete from biz_contract_content2 where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>